<!DOCTYPE html>
<html ng-app="SIApp">
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/third_party/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/third_party/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-keydown="tankAction($event)" ng-controller="SICtrl">
		<div id="game-area">
			Score: {{score}}
			<img class="space-invader" ng-repeat="si in spaceInvaders" ng-show="si.show" style="left: {{si.column*5}}%; top: {{si.row*5}}%;" src="img/space_invader.png">
			<img class="tank" src="img/tank.png" style="left: {{tank.column*5}}%; top: {{tank.row*5}}%;">
			<img class="bullet" ng-repeat="bullet in bullets" ng-show="bullet.show" src="img/bullet.png" style="left: {{bullet.column*5}}%; top: {{bullet.row*5}}%;">
			<div class="game-ended" ng-show="game_ended">{{win_or_lose}}</div>
		</div>
	</body>
</html>